name: tukvm
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  packages:
    uses: tukvm/packages/.github/workflows/packages.yml@master
    secrets:
      S3_ENDPOINT: "${{secrets.S3_ENDPOINT}}"
      S3_BUCKET: "${{secrets.S3_BUCKET}}"
      S3_ACCESS_KEY: "${{secrets.S3_ACCESS_KEY}}"
      S3_SECRET_KEY: "${{secrets.S3_SECRET_KEY}}"
